# Base de datos
DATABASE_URL="postgresql://user:password@localhost:5432/feedflow"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# NewsAPI
NEWSAPI_KEY=""

# Resend (email)
RESEND_API_KEY=""
